
<template>
    <div class="container">

        <div class="card">

                    <div class="card-header">
                                    <span for=""><label for="">Message</label>  - {{email}} - <vue-moments-ago prefix="Received" suffix="ago" :date="date"></vue-moments-ago></span>
                        </div>
                        <div class="card-body jumbotron-fluid show" v-if="this.name == ''" >
                            <div class="mt-5">
                                <div class="text-center">
                                        <img src="/img/message_icon.png" alt="" class="image-fluid">
                                </div>
                                <div class="text-center">
                                    <span>Click</span>   <span class="badge badge-primary p-2"> <i class="fa fa-eye" aria-hidden="true"></i> Show</span> <span>To View details</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body"  v-else>
                            <div v-if="loading" class="loading" >
                                <Circle8 style="height:300px;" ></Circle8>
                            </div>
                            <div v-else>
                                <div class="row">
                                    <div class="col-3 ">
                                        <img src="/img/UI/man.png" class="rounded-circle border border-dark" width="100" alt="Cinque Terre">
                                    </div>
                                    <div class="col-3 pt-3 ">
                                        <span class="text-bold">{{ name }}</span>
                                        <br>
                                        <span class="text-bold">{{ number }}</span>
                                        <br>
                                        <span >{{ message }}</span>
                                    </div>
                                    <div class="col-6  text-center pt-4">
                                    <span class="text-white  text-bold btn btn-primary w-50"  @click="reply(email)"><i class="fa fa-reply" aria-hidden="true"></i> Reply</span>
                                    </div> 
                                </div>
                            </div>
                        </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name:'',
                email:'',
                number:'',
                message:'',
                loading: false,
            }
        },
        methods : {
           messageDetais(id){
               this.loading = true;
               axios.get('api/contactus/'+id)
                .then(({data}) => {
                    console.log(data);
                        this.name = data.name,
                        this.email = data.email,
                        this.number = data.contact_number,
                        this.message = data.message,
                        this.date = data.created_at
                        Fire.$emit('AfterCreate');
                });

                this.loading = false;
           },
            deleteMessage(id,name){
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You want to delete' +' '+ name +"'s"+' '+'message' ,
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.value) {
                        axios.get('api/deleteContact/'+id)
                        .then(({data}) => {
                            Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                            ),
                            Fire.$emit('AfterCreate');
                        });

                    }
                })

           },
            reply(email){
                axios.get('api/reply/'+email).then(({data}) => {
                    console.log(data);
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style scoped>
    .message{
        color:black;
        background-color:transparent;
        border: none;
    }
    ::-webkit-scrollbar-thumb {
        background: gray;
        border-radius: 10px;
    }
    ::-webkit-scrollbar {
        width: 2px;
    }
    .show{
        min-height: 430px;
    }
    .loading{
        margin:0 auto;
        width: 10%;
        padding: 10px;
    }

</style>
