<style scoped lang="scss">
    @media print{
       
    }
</style>


<template>
<div>
    <div class="text-right">
        <button class="btn btn-success"  @click="print"><i class="fa fa-print" aria-hidden="true"></i> Print Receipt</button>
    </div>
    <div class="w-100 p-0 mt-3" id="receipt">
        <div class="try">
            <table class="m-auto" border="0" >
                <tr>
                    <td style="width:120px;"></td>
                    <td colspan="2" style="text-align: center;">
                        <img src="/img/UI/sampleLogo.png" style="width:160px;" alt="">
                    </td>
                    <td style="width:120px;"></td><br><br><br><br>
                </tr>  
                <tr>
                    <td></td>
                    <td colspan="2" class="headerPrintText" style="font-size:16px;  text-align: center; font-weight:bold">
                        Location 1: Rizal St., Poblacion, Mambajao, Camiguin 9100
                    </td>
                   <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="headerPrintText" style="font-size:16px; text-align: center;font-weight:bold">
                        Location 2: Yumbing, Mambajao, Camiguin 9100
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="headerPrintText" style="font-size:16px; text-align: center; font-weight:bold">
                        Email: havendwellresort@gmail.com
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="headerPrintText" style="font-size:16px; text-align: center;font-weight:bold">
                        Cellular No: 09176203960 / 09773313371
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" class="headerPrintText" style="font-size:16px; text-align: center;font-weight:bold">
                        Telephone No: (088) 387-2094
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width:120px;"></td>
                    <td colspan="2" style="text-align: center;">
                        <img src="/img/UI/guest-logo.png" style="width:200; margin-top:50px;" alt="">
                    </td>
                    <td style="width:120px;"></td>
                </tr>
            </table>
        </div>
        <div class="mt-4 row">
            <div class="col-10 offset-2 table-responsive">
                <table class="m-auto font-weight-bold" border="0" style="width:95%;!important">
                    <tr>
                        <td style=""></td>
                        <td style="width: 250px;">
                            Location: &nbsp;&nbsp;
                            <input type="checkbox" style="width:30px; height:30px" id="" name="gardenresort">
                            <label for="gardenresort" style="margin-right:10px; font-size:14px;"> Garden Resort</label>
                        </td>   
                        <td><input type="checkbox" id="" style="width:30px; height:30px" name="beachresort">
                            <label for="beachresort" style="font-size:14px;"> Beach Resort</label></td>
                        <td>
                            
                        </td>
                        <td></td>
                    
                    </tr>
                    
                    <tr class="">
                        <td></td>
                        <td class="font-weight-bold" >DATE:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="">
                        <td></td>
                        <td class="font-weight-bold">Name:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="font-weight-bold">Address:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="">
                        <td></td>
                        <td class="font-weight-bold">Cellular No:</td>
                        <td class="font-weight-bold">Nationality: ___________________</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold" >Arrival Date:</td>
                        <td class="font-weight-bold" >Departure Date:
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            No. Of Nights:
                        </td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">No. of Rooms: _______________________</td>
                        <td class="font-weight-bold" >No. of Guests: (Adult): _________
                             (Children):_________
                        </td>
                        
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">Booking Site:  havendwellresort.com.ph</td>
                        <td class="font-weight-bold" >Payment: Credit</td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td><br>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">Credit Card No:</td>
                        <td class="font-weight-bold" >Passport/ID No.</td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">Guest Printed Name and Signature:</td>
                        <td class="font-weight-bold"></td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold"><span style="margin-top:50px;">____________________________________</span></td>
                        <td class="font-weight-bold "> Date: ________________________</td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><br>
               
                        <tr class="">
                            <td class=""></td>
                            <td class="font-weight-bold test1">Checked in by:</td>
                            <td class="font-weight-bold"></td>
                            <td class="font-weight-bold"></td>
                            <td class=""></td>
                        </tr>
                   
                   
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">____________________________________</td>
                        <td class="font-weight-bold"></td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold" style="text-align:center">(Resort Staff)</td>
                        <td class="font-weight-bold"></td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="font-weight-bold">REMARKS:</td>
                        <td class="font-weight-bold"></td>
                        <td class="font-weight-bold"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td colspan="3" class="font-weight-bold">____________________________________________________________________________________</td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td colspan="3" class="font-weight-bold">____________________________________________________________________________________</td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td colspan="3" class="font-weight-bold">____________________________________________________________________________________</td>
                        <td class=""></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        
        data(){
            return{
             
            }
        },
        methods:{
           print(){
                this.$htmlToPaper('receipt'); 
                
            },
            
        },
        created(){
           
        },
        mounted() {
            console.log('Component mounted.')
        }
       
    }
</script>
