<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <label for="">Quotation Request/s</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    
    </div>
</template>

<script>
    export default {
        data(){
            return{
               
            }
        },
        methods:{
          
        },
        created(){
           
        },

    }
</script>
