<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <label for="">Reservation</label>
                            </div>
                             <div class="col-4">
                                <div class="input-group">
                                    <input type="search" class="form-control" v-model="searchValue" placeholder="room #" @input="search()">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    
                        <div class="card-body " >
                            <table class="table text-center ">
                                <thead>
                                    <tr>
                                        <th>Client Name</th>
                                        <th>Room #</th>
                                         <th>Amount</th>
                                         <th>Payment Type</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="data_counter < 1">
                                      <td colspan="5" class="jumbotron text-center">  No data found</td>
                                    </tr>

                                    <tr  v-for="customer in customer_details.data" :key="customer.key">
                                       <td scope="row">{{ customer.customer.name }}</td>
                                        <td>{{ customer.rooms.room_no }}</td>
                                        <td>{{ customer.paypal_payments[0].amount }}</td>
                                        <td> {{ customer.payment }}</td> 
                                        <td>
                                        <span v-if="customer.status == 'Check in'" class="text-success" >{{ customer.status }}</span>
                                         <span v-else-if="customer.status == 'Reserved'" class="text-primary" >{{ customer.status }}</span>
                                        <span v-else class="text-danger"> {{ customer.status }}</span>
                                        </td>
                                         <td v-if="customer.payment == 'Full Payment'" >      
                                            <button style="border-radius: 12px;"  class="badge badge-warning p-2" v-if="customer.status == 'Check in'"   @click="updateStatus(customer.id,'Done',customer.customer.name,)"><i class="fas fa-sign-out-alt    "></i> Check Out</button>   
                                           <button style="border-radius: 12px;"  class="badge badge-primary p-2" v-else  @click="updateStatus(customer.id,'Check in',customer.customer.name,)"><i class="fa fa-sign-in" aria-hidden="true"></i> Check In</button>  
                                           <button style="border-radius: 12px;" class="badge badge-success p-2" @click="reserveddetail(customer.id)"><i class="fas fa-eye  "></i> Details</button>
                                        </td>
                                        <td v-else>
                                            <button  style="border-radius: 12px;" class="badge badge-warning p-2" v-if="customer.status == 'Check in'"   @click="updateStatus(customer.id,'Done',customer.customer.name,)"><i class="fas fa-sign-out-alt    "></i> Check Out</button>   
                                           <button style="border-radius: 12px;"  class="badge badge-primary p-2" v-else  @click="updatePartial(customer.id,'Check in',customer.customer.name, customer.amount)"><i class="fa fa-sign-in" aria-hidden="true"></i> Check In</button>  
                                           <button style="border-radius: 12px;"  class="badge badge-success p-2" @click="reserveddetail(customer.id)"><i class="fas fa-eye  "></i> Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="mt-2 mr-4" :data="customer_details" @pagination-change-page="loadCustomer" :limit="2" size="small" align="right">
                                    <span slot="prev-nav">&lt; Previous</span>
                                    <span slot="next-nav">Next &gt;</span>
                            </pagination>
                            
                        </div>
                </div>
            </div>

            <div class="col-5">
                <show-reserved  ref="reservedDetails"> </show-reserved>
            </div>

        </div>
    </div> 
</template>

<script>
    export default {
        data(){
            return {
                check_in:true,
                customer_details:{},
                amount:'',
                searchValue:'',
                data_counter:'',


            }
        },

        methods:{
            search(page = 1){
                axios.post('searchReservation?page='+page,{
                        'value'  : this.searchValue
                })
                .then(({data}) => {
                     this.data_counter = data.data.length;
                     this.customer_details = data;
                });
            },
            loadCustomer(page = 1){
                axios.get('reservation?page='+page)
                .then(({data}) => {
                    console.log(data)
                    this.customer_details = data;
                      this.data_counter = data.data.length;
                  
                });
            },

            updateStatus(val,check,name){
                axios.get('updateCheckStatus/'+val+'/'+check)
                .then(({data}) => {
                    Fire.$emit('AfterCreate');
                    Toast.fire({
                        type: 'success',
                        title: name +' '+'Successfully' +' ' + data
                    })
                    console.log(data);
                    
                });
            },

            updatePartial(val,check,name,amount){
                Swal.fire({
                title: name + ' ' + 'have Balance of' + ' ' + amount,
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Paid'
                }).then((result) => {
                if (result.value) {
                     axios.get('updateCheckStatus/'+val+'/'+check)
                    .then(({data}) => {
                        Fire.$emit('AfterCreate');
                        Toast.fire({
                            type: 'success',
                            title: name +' '+'Successfully' +' ' + data
                        })
                       
                    });
                }
                })
               
            },
            reserveddetail(val){
                   
                   this.$refs.reservedDetails.returnId(val)
            }
        },
        created() {
            this.loadCustomer();
             Fire.$on('AfterCreate',() => {
                 this.loadCustomer();
             })
        }
    }
</script>
