
<template>
    <div class="container">
        <div class="card">
             <div class="card-body jumbotron-fluid show" v-if="this.reservationId == 'N/A'" >
                            <div class="mt-3">
                                <div class="text-center">
                                        <img src="/img/customer_details.jpg" alt="" class="image-fluid"> 
                                    
                                </div>
                                <div class="text-center">
                                    <span>Click</span>   <span class="badge badge-success p-1"> <i class="fa fa-eye" aria-hidden="true"></i> view</span> <span>To View Reservation details</span>
                                </div>
                            </div>
            </div>
            <div v-else class="card-body">
                 <div class="border border-primary shadow-lg p-2">
                    <h3 class="text-center">Reservation details</h3>
                </div>
                <div class="row ">
                    <div class="col-6">
                         <span class="text-bold">Reservation ID :</span> <span>{{ reservationId }}</span>
                    </div>
                    <div class="col-6">
                         <span class="text-bold">Room Number :</span> <span>{{ room_no }}</span>
                    </div>
                </div>

             
                <div class="row">
                    <div class="col-6">
                          <span class="text-bold">Check In :</span> <span>{{ check_in }}</span>
                    </div>
                    <div class="col-6">
                        <span class="text-bold">Check Out :</span> <span>{{ check_out }}</span>
                    </div>
                </div>
                <br>
                <div class="border border-primary  shadow-lg p-2">
                     <h3 class="text-center">Customer details</h3>
                </div>
                  <span class="text-bold">Customer  Name:</span> <span>{{ name }}</span>
                 <br>
                  <span class="text-bold">email:</span> <span>{{ email }}</span>
                <br>
                  <span class="text-bold">contact_no:</span> <span>{{ contact_no }}</span>
                <br>
                <br>
                <div class="border border-primary shadow-lg p-2">
                    <h3 class="text-center">Paypal Details</h3>
                </div>
                <span class="text-bold">invoice_id: </span> <span>{{ invoice_id }}</span>
                <br>
                <span class="text-bold">transaction_id: </span> <span>{{ transaction_id }}</span>
                <br>
                <span class="text-bold">amount: </span> <span>{{ amount }}</span>
                <br>
                <span class="text-bold">paypal Fee: </span> <span>{{ paypal_fee }}</span>
               
              
          
            </div>
        </div>
      
    </div>
</template>

<script>
    export default {
        data(){
            return {
                loading:false,
                reservationId:'N/A',
                room_no: 'N/A',
                check_in: 'N/A',
                check_out:'N/A',
                name: 'N/A',
                email: 'N/A',
                contact_no: 'N/A',
                invoice_id: 'N/A',
                transaction_id: 'N/A',
                amount: 'N/A',
                paypal_fee: 'N/A'

            }
        },
        methods : {
            returnId(val){
                this.loading = true;
                 axios.get('reserveDetails/'+val)
                .then(({data}) => {
                    console.log(data)
                   this.reservationId = data.id
                  this.room_no = data.room_no
                  this.check_in =data.check_in
                  this.check_out = data.check_out
                  this.email = data.customer.email
                  this.name = data.customer.name
                  this.contact_no =data.customer.contact_no

                  this.invoice_id = data.paypal_payments[0].invoice_id
                  this.transaction_id = data.paypal_payments[0].transaction_id
                  this.amount = data.paypal_payments[0].amount
                  this.paypal_fee = data.paypal_payments[0].paypal_fee
                });
                 this.loading = false;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style scoped>
      .loading{
        margin:0 auto;
        width: 10%;
        padding: 10px;
    }
</style>
