<template>
    <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="card">
                        <div class="card-header">
                            <label for="">Create Tour Item</label>
                            <div class="card-tools">
                                <button button="button" class="btn btn-outline-success" @click="showCreate()">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center">
                                        <thead>
                                            <tr >
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Per Pax</th>
                                                <th>Branch</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"  class="jumbotron" v-if="itemlength == 0">
                                                        No Item Found
                                                </td>
                                            </tr>
                                            <tr v-for="(item,index) in items.data" :key="item.id">
                                                <td scope="row">{{index + 1}}</td>
                                                <td>{{item.itemname }}</td>
                                                  <td>{{item.pax }}</td>
                                                  <td>{{item.branch.branch_name}}</td>
                                                <td>₱{{item.price | toCurrency}}</td>
                                                <td>
                                                    <span><button type="button" class="btn btn-outline-primary p-1" @click="updateItem(item.id)"><i class="fas fa-edit  "></i> Update</button></span>
                                                    <span><button type="button" class="btn btn-outline-danger p-1" @click="deleteItem(item.id)"><i class="fa fa-trash-o" aria-hidden="true" ></i> Delete</button></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>

                                  <pagination class="mt-2 mr-4" :data="items" @pagination-change-page="loadItem" :limit="2" size="small" align="right">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                 </pagination>
                        </div>
                        
                    </div>
                </div>
                <div class="col-5" showItem>
                    <div class="card">
                        <form @submit.prevent="editMode ? itemUpdate() : createItem()">
                            <div class="card-body">
                                <h3>Item Details</h3>
                                <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" v-model="form.itemName" id="" class="form-control" :class="{ 'is-invalid': form.errors.has('itemName') }">
                                        <has-error :form="form" field="itemName"></has-error>
                                </div>

                                <div class="form-group">
                                <label for="">Price</label>
                                <vue-numeric  currency="₱" separator=","    class="form-control" v-model="form.price" :class="{ 'is-invalid': form.errors.has('price') }"></vue-numeric>
                                <has-error :form="form" field="price"></has-error>
                                </div>

                                 <div class="form-group">
                                <label for="">No. of Pax</label>
                                <input type="text" v-model="form.pax" id="" class="form-control" :class="{ 'is-invalid': form.errors.has('pax') }">
                                <has-error :form="form" field="pax"></has-error>
                                </div>

                                 <div class="form-group">
                                <label for="">Select Branch</label>
                                <select class="form-control" v-model="form.branch_id" >
                                    <option value="" selected disabled>Select Branch</option>
                                    <option  v-for="branches in branch" :key="branches.id" :value="branches.id">{{branches.branch_name}}</option>
                                </select>
                                <has-error :form="form" field="branch_id"></has-error>
                                </div>

                        
                                <input type="hidden" v-model="form.type"   >
                                <button type="submit"  class="btn-lg btn-block border border-secondary" :class="editMode ? 'btn btn-warning text-bold' :'btn btn-success  text-bold ' ">{{editMode ? 'Update' : 'Create'}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
    </div>
</template>

<script>
    export default {
        data(){
            return{
               showItem:false,
               editMode:false,
               itemlength:0,
               items:{},
               branch:{},
                form: new Form({
                    id:'',
                    itemName:'',
                    price:'',
                    type:'item',
                    pax:'',
                    branch_id:''
                }),
            }
        },
        methods:{
            loadItem(page = 1){
                axios.get("api/item?page=" + page)
                .then(({data}) => {
                  
                    this.itemlength = data.item.length
                    this.items = data.item
                });
            },
            loadbranch(){
                axios.get('api/branch')
                .then(({data}) => {
                    this.branch = data
                });
            },
            showCreate(){
                  this.showItem = true
                  this.form.reset();
                this.editMode = false
            },
            createItem(){
                this.editMode = false
                this.form.post('api/item')
                .then(({data}) => {
                    this.form.reset();
                    Toast.fire({
                            type: 'success',
                            title: 'Register Successfully'
                        })
                    Fire.$emit('AfterCreate');
                    
                })
            },
            updateItem(id){
                this.editMode = true
                this.showItem = true
                this.form.get('api/item/'+id)
                .then(({data}) => {
                    this.form.id = data.id;
                    this.form.itemName = data.itemname;
                    this.form.price = data.price;
                    this.form.type = data.type;
                })
            },
            itemUpdate(){
                 this.editMode = true
                 this.form.put('api/item/'+this.form.id)
                .then(({data}) => {
                    this.form.reset();
                    Toast.fire({
                        type: 'success',
                        title: 'Record Updated'
                    })
                    Fire.$emit('AfterCreate');
                })

            },
            deleteItem(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.get('api/deleteItem/'+id)
                    .then(({data}) => {
                      
                        Swal.fire(
                        'Deleted!',
                        ' successfully deleted.',
                        'success'
                        ),
                        Fire.$emit('AfterCreate');
                    });
                }
                })
            },
        },
        created(){
               this.loadItem();
               this.loadbranch();
                Fire.$on('AfterCreate',() => {
                this.loadItem();             
             });
        },

    }
</script>
