<template>
    <div class="container">
            <div class="row">
                <div class="col-7">
                    <div class="card card-sm">
                        <div class="card-header">
                            <label for="">Create Package Details</label>
                            <div class="card-tools">
                                <button button="button" class="btn btn-outline-success" @click="showCreate()">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Create
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-center">
                                        <thead>
                                            <tr  class="thead-dark">
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"  class="jumbotron" v-if="packagelength == 0">
                                                        No Item Found
                                                </td>
                                            </tr>
                                            <tr v-for="(item,index) in packageData.data" :key="item.id">
                                                <td scope="row">{{index + 1}}</td>
                                                <td>{{item.itemname }}</td>
                                                <td>₱{{item.price}}</td>
                                                <td>
                                                    <span><button type="button" class="btn btn-outline-success p-1 addbtn" :id="'add'+item.id" @click="addItem(item.id)"><i class="fas fa-eye-slash    "></i> View Item</button></span>
                                                    <span><button type="button" class="btn btn-outline-primary p-1" @click="updateItem(item.id)"><i class="fas fa-edit  "></i> Update</button></span>
                                                    <span><button type="button" class="btn btn-outline-danger p-1" @click="deleteItem(item.id)"><i class="fa fa-trash-o" aria-hidden="true" ></i> Delete</button></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                                  <pagination class="mt-2 mr-4" :data="packageData" @pagination-change-page="loadItem" :limit="2" size="small" align="right">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                 </pagination>
                        </div> 
                    </div>

                    <div class="card border-primary" v-show="AddItems">
                        <div class="card-header">
                            <span v-show="viewBtn">
                                  <button class="btn btn-primary" @click="AddPackage(packageId)" ><i class="fas fa-eye  "></i> View Package</button>
                            </span>
                          
                            <div class="card-tools">
                                You are about to add an item on  <label for="">{{form.itemName}}</label> <i class="fa fa-arrow-right" aria-hidden="true"></i> <button type="submit" class=" btn btn-outline-success" @click="openModal()"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
                            </div>
                        </div>
                      <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Item Name</th>
                                        <th>Price</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td colspan="4"  class="jumbotron" v-if="itemOnPackagelength == 0">
                                                No Item Found
                                        </td>
                                    </tr>
                                    <tr v-for="packageItem in package_details" :key="packageItem.id">
                                        <td scope="row">{{packageItem.id}}</td>
                                        <td>{{packageItem.Itemname}}</td>
                                        <td>{{packageItem.price}}</td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger" @click="DeleteItemOnpackage(packageItem.id)"><i class="fa fa-trash nav-icon" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <label for="">Total Price :  </label> <span>{{totalprice | toCurrency}}</span>
                      </div>
                    </div>
                     <!-- Item modal -->
                    <form @submit.prevent="editMode ? itemUpdate() : createItem()">
                        <div class="modal fade" id="packageItem" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                      
                                    <h5 class="modal-title" >{{ editMode === true ? "Update Package" : "Create Package" }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" v-model="form.type" >

                                        <div class="form-group">
                                            <label for="">Package Name</label>
                                            <input type="text" v-model="form.itemName" class="form-control" :class="{ 'is-invalid': form.errors.has('itemName') }">
                                            <has-error :form="form" field="itemName"></has-error>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-outline-success" :class=" editMode === true ? 'btn btn-outline-primary' : 'btn btn-outline-success'">{{ editMode === true ? "Update" : "Create" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!--Add item Modal -->
                    <div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{form.itemName}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                 <table class="table text-center table-bordered">
                                        <thead>
                                            <tr >
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4"  class="jumbotron" v-if="itemlength == 0">
                                                        No Item Found
                                                </td>
                                            </tr>
                                            <tr v-for="(item,index) in items.data" :key="item.id">
                                                <td scope="row">{{index + 1}}</td>
                                                <td>{{item.itemname }}</td>
                                                <td>₱{{item.price}}</td>
                                                <td>
                                                    <span><button type="button" class="btn btn-outline-info p-1" @click="addtopackage(item.id,packageId)"><i class="fas fa-plus-circle    "></i>Add to Package</button></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>

                                  <pagination class="mt-2 mr-4" :data="items" @pagination-change-page="loadItem" :limit="2" size="small" align="right">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                 </pagination>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @click="closeBtn" data-dismiss="modal"><i class="fa fa-eye" aria-hidden="true"></i> View Added Item</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                        </div>
                    </div>
                    </div>



                </div>
                <div class="col-5" v-show="PackageView">
                    <form @submit.prevent="editpackageMode ? Updatepackage() : Createpackage()">
                            <div class="card"  >
                                <div class="card-header">
                                <span class="text-bold"> {{ form.itemName }}</span>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                    
                                        <span class="text-danger text-bold" v-show="error.imgError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please Select Img</span>
                                        <br>
                                        <img  v-if="url== null" src="img/package/packageImg.png"  alt="" srcset="" width="100"> 
                                        <img v-else :src="url" class="img-fluid" alt="" srcset="" width="100"  >
                                        <div class="ml-3 mt-3">
                                            <input  type="file" id="uploadedPic"  accept="image/x-png,image/gif,image/jpeg" @change="uploadPackagePic">
                                        </div>
                                    </div>
                                    <br>
                                    
                                    <input type="hidden" v-model="formPackage.package_id" >
                                    <div class="text-center">
                                        <label for="" ><h3>Package Inclusion</h3></label>   
                                        <br>
                                        <label for="">Description</label>

                                        <textarea v-model="formPackage.details"  cols="50" rows="4 " :class="error.detailsError ? 'border border-danger' : ''"></textarea>
                                        <span class="text-danger text-bold" v-show="error.detailsError">Details Is Required</span>
                                    </div>
                                    <div class="text-center">
                                        <label for="">Package Table</label>  
                                    </div>
                                    
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                         <label for="">Total Price :  </label> <span>{{totalprice | toCurrency}}</span>
                                    </div>

                                    
                                </div>
                                </div>
                                <button type="submit" class="text-center m-3" :class="editpackageMode === true ? 'btn btn-outline-primary' : 'btn btn-outline-success'">{{editpackageMode === false ? 'Create Package' : 'Update Package' }}</button>
                            </div>
                    </form>
                </div>

            </div>   
    
    </div>
</template>

<script>
    export default {
        data(){
            return{
                AddItems:false,
                viewBtn:false,
                PackageView:false,
                editMode:false,
                editpackageMode:false,
                url:null,
                packagelength:0,
                itemlength:0,
                itemOnPackagelength:0,
                items:{}, 
                totalprice:0,    
                packageData:{},
                package_details:{},
                packageId:'',
               packagePrice:0,
                form: new Form({
                    id:'',
                    itemName:'',
                    price:1,
                    type:'package'
                }),

                formPackage : new Form({
                    img:'',
                    package_id:'',
                    namepackage :'',
                    details:'',
                    totalPrice:''
                }),
                error:{
                    imgError:false,
                    detailsError:false
                },
            }
        },
        methods:{
            loadItem(page = 1){
                axios.get("api/item?page=" + page)
                .then(({data}) => {
                    this.packagelength = data.package.length
                    this.packageData = data.package
                    this.items = data.item
                    this.itemlength = data.item.length
                });
            },
           
            showCreate(){
                $('#packageItem').modal('show')
                  this.form.reset();
                this.editMode = false
            
            },
            createItem(){
                this.editMode = false
                this.form.post('api/item')
                .then(({data}) => {
                    this.form.reset();
                    Toast.fire({
                            type: 'success',
                            title: 'Register Successfully'
                        })
                    Fire.$emit('AfterCreate');

                     $('#packageItem').modal('hide')
                })
            },
            updateItem(id){
                $('#packageItem').modal('show')
                this.editMode = true
                this.showItem = true
                this.form.get('api/item/'+id)
                .then(({data}) => {
                    this.form.id = data.id;
                    this.form.itemName = data.itemname;
                    this.form.price = data.price;
                    this.form.type = data.type;
                })
            },
            itemUpdate(){
                 this.editMode = true
                 this.form.put('api/item/'+this.form.id)
                .then(({data}) => {
                    this.form.reset();
                    Toast.fire({
                        type: 'success',
                        title: 'Record Updated'
                    })
                    Fire.$emit('AfterCreate');
                })

            },
            deleteItem(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.get('api/deleteItem/'+id)
                    .then(({data}) => {
                        console.log(data);
                        Swal.fire(
                        'Deleted!',
                        ' successfully deleted.',
                        'success'
                        ),
                        Fire.$emit('AfterCreate');
                        this.AddItems = false
                    });
                }
                })
            },
            addItem(id){
                this.AddItems = true
                this.PackageView = false;
                this.packageId = id;
                axios.get('api/ItemList/'+id)
                .then(({data}) => {
                    
                    if(data.package_details == ''){
                         this.viewBtn = false
                          this.packageId = data.id
                        this.form.itemName = data.itemname;
                    }else{
                        this.viewBtn = true
                        this.packageId = data.id
                        this.form.itemName = data.itemname;
                    }
                 
                
                 
                })

                 axios.get('api/loadpackageItem/' + id)
                .then(({data}) => {
                    var total = [];
                    this.package_details =data.package_details;
                    this.itemOnPackagelength =data.package_details.length;
                        data.package_details.forEach(element => {
                        total.push(element.price);
                    });

                   this.total =   total.reduce(function(sum, item){
                         return sum + item; 
                    },0);

                    let opts = { format: '%v %c ', code: 'PHP' }
                    this.packagePrice = this.total;
                    this.totalprice = formatCurrency(this.total, opts);
                });
                 
               
            },
           
            openModal(id){
                $('#addItem').modal('show');
            },
            closeBtn(){
                $('#add'+this.packageId).trigger( "click" );
                this.viewBtn = true
              
            },
            addtopackage(id,packageId){
                axios.post('api/addtopackage',{
                    id :id,
                    packageId : packageId
                })
                .then(({data})=>{
                      Toast.fire({
                            type: 'success',
                            title: 'Register Successfully'
                        }) 
                    this.packageId = data.package_id;
                    this. this.form.itemName  = data.itemname;
                

                });
            },
            DeleteItemOnpackage(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.get('api/deleteItemonpackage/'+id)
                    .then(({data}) => {
                        Swal.fire(
                        'Deleted!',
                        ' successfully deleted.',
                        'success'
                        )
                        $('#add'+this.packageId).trigger( "click" );
                    });
                }
                })
            },
            uploadPackagePic(e){
                let file = e.target.files[0];
                this.url = URL.createObjectURL(file);
                let reader = new FileReader();
                reader.onloadend = (file) => {
                      this.formPackage.img = reader.result;
                }
                reader.readAsDataURL(file);
                // this.formPackage.img =  this.photo  ;
            },
            AddPackage(id){
                this.PackageView = true;
                axios.post('api/packageShow/',{
                    id : id
                })
                .then(({data}) => {
                  if(data.package == ''){
                      this.formPackage.reset();
                      this.url = null;
                      this.editpackageMode = false;
                        this.formPackage.package_id = data.id;
                        this.formPackage.namepackage = data.itemname;
                        this.formPackage.totalPrice = this.packagePrice;
                  }else{
                    this.editpackageMode = true
                    this.formPackage.img =data.package[0].img;
                    this.url = 'img/package/'+ data.package[0].img;
                     this.formPackage.package_id  = data.package[0].package_id;
                     this.formPackage.namepackage = data.package[0].packagename;
                     this.formPackage.details = data.package[0].details;
                     this.formPackage.totalPrice =  this.packagePrice;

                  }
                  
                })
            },
            Createpackage(){

                if(this.formPackage.img == '' ){
                    this.error.imgError = true
                }else if(this.formPackage.details == '' ){
                    this.error.detailsError = true
                }else{
                this.formPackage.post('api/package')
                .then(({data}) => {
                  
                    this.formPackage.reset();
                    this.url = null;
                    Toast.fire({
                            type: 'success',
                            title: 'package Successfully Save'
                        })
                        Fire.$emit('AfterCreate');
                        this.PackageView = false
                    //   $('#add'+this.packageId).trigger( "click" );
                       
                })
                }
                 
            },
            Updatepackage(){
                console.log(this.formPackage.totalPrice )
                this.formPackage.put('api/package/'+ this.formPackage.package_id)
                .then(({data}) => {          
                              this.url = 'img/package/'+ data.img;
                            Toast.fire({
                                    type: 'success',
                                    title: 'package Successfully Save'
                                })
                                   Fire.$emit('AfterCreate');
                                      this.PackageView = false
                            // $('#add'+this.packageId).trigger( "click" );
                })
            }
        },
        created(){
                this.loadItem();
                Fire.$on('AfterCreate',() => {   
                this.loadItem();        
             });

             Fire.$on('addItem',()=>{
                   this.addItem();
             });

             
        },

    }
</script>
