<template>
    <div class="container-fluid">
        <div class="card">
              <div class="card-header">
                <h3 class="card-title">Amenities</h3>

                <div class="card-tools">
                    <div class="row">
                        <div class="col-6"  v-show="user_id == 3">
                             <div class="form-group">
                                    <select class="form-control" v-model="form.branch_id" @change="filterBranch()">
                                        <option value="" selected disabled>Filter Room by Branch</option>
                                         <option value="3" >All</option>
                                        <option  v-for="branches in branch" :key="branches.id" :value="branches.id">{{branches.branch_name}}</option>
                                    </select>
                                    <has-error :form="form" field="branch_id"></has-error>
                            </div>
                        </div>
                        <div class="col-6">
                              <div class="input-group input-group-sm" style="width: 150px;">
                                <button @click="addAmenitiesModal" class="btn btn-success">Add Amenities <i class="fa fa-plus"></i></button>
                            </div>
                        </div>  
                    </div>

                     
                     
                
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody class="text-center">
                    <tr>
                    <th>#</th>
                    <th>Amenities</th>
                    <th>Branch</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  <tr v-for="(record, index) in records.data" :key="record.id">
                    <td>{{index+1}}</td>
                    <td>{{record.amenities}}</td>
                      <td>{{record.branch.branch_name}}</td>
                    <td class="text-success font-weight-bold" v-if="record.status == 'Activated'">{{record.status}}</td>
                    <td class="text-danger font-weight-bold" v-else>{{record.status}}</td>

                    <td>
                        <span style="cursor:pointer" @click="editAmenitiesModal(record.id)" class="badge badge-primary p-2  ml-1">Edit Amenities</span>

                        <span v-if="record.status == 'Activated'" @click="status(record.id)" style="cursor:pointer" class="badge badge-warning p-2 ">Deactivate</span>
                        <span v-else style="cursor:pointer" @click="status(record.id)" class="badge badge-success p-2 ">Activate</span>

                            <span style="cursor:pointer" @click="deleteAmenities(record.id)" class="badge badge-danger p-2  ml-1">Delete</span>
                    </td>
                  </tr>
                </tbody>
               
                
                </table>

                 <div class="text-right w-100">
                     <pagination class="mt-2 mr-4" :data="records" @pagination-change-page="loadAmenities" :limit="2" size="small" align="right">
                                <span slot="prev-nav">&lt; Previous</span>
                                <span slot="next-nav">Next &gt;</span>
                     </pagination>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
    <form @submit.prevent="editMode ? updateAmenities(): createAmenities()">
            <div class="modal animated zoomIn faster" id="addAmenities" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Amenities</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Amenities</label>
                                        <input v-model="form.amenities" type="text" name="amenities"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('amenities') }">
                                        <has-error :form="form" field="amenities"></has-error>
                                    </div>

                                       <div class="form-group" v-if="user_id === 3">
                                        <label>Select Branch</label>
                                            <select class="form-control" v-model="form.branch_id" :class="{ 'is-invalid': form.errors.has('branch_id') }">
                                                <option value="" selected disabled>Select Branch</option>
                                                <option  v-for="branches in branch" :key="branches.id" :value="branches.id">{{branches.branch_name}}</option>
                                            </select>
                                        <has-error :form="form" field="branch_id"></has-error>
                                    </div>

                                    <div class="form-group" v-else>
                                      <input type="hidden" class="form-control" v-model="form.branch_id" aria-describedby="helpId" placeholder="">
                                    </div>
                            </div>
                               
                     
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Amenities</button>
                    </div>
                    </div>
                </div>
            </div>
    </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                editMode: false,
                records:{},
                branch:{},
                user_id:'',
                form: new Form({
                    branch_id:'',
                    id:"",
                    amenities:"",
                   
                })
            }
        },

        methods:{
            loadAmenities(page=  1){
                axios.get('api/amenities?page=' + page)
                .then(({data}) => {
                    this.records = data
            
                });
            },
            addAmenitiesModal(){
                this.form.branch_id = this.user_id
                this.editMode = false;
                $('#addAmenities').modal('show');
                
            },
            loadbranch(){
                axios.get('api/branch')
                .then(({data}) => {
                    this.branch = data
                });
            },
            loadUser(){
                 axios.get('api/fetchprofile')
                .then(({data}) => {
                  
                    this.user_id = data.branch_id
                });
                
            },
            createAmenities(){
                this.form.post('api/amenities')
                .then((data) => {
                    this.$Progress.start();
                    Toast.fire({
                        type: 'success',
                        title: 'Successfully Added'
                    })
                    this.$Progress.finish();
                    this.form.clear();
                    this.form.reset();
                    $('#addAmenities').modal('hide');
                    Fire.$emit('AfterCreate');
                })
            
                
            },

            editAmenitiesModal(id){

                 this.editMode = true;
                $('#addAmenities').modal('show');
                this.form.get('api/amenities/'+id)
                .then((data) => {
                    this.form.amenities = data.data.amenities;
                    this.form.id = data.data.id;
                    this.form.branch_id = data.data.branch_id;
                })
            },
            updateAmenities(){
                this.form.put('api/amenities/'+this.form.id)
                .then((data) => {
                    Toast.fire({
                        type: 'success',
                        title: 'Record Update'
                    })
                     $('#addAmenities').modal('hide');
                    console.log('amenities updated');
                    Fire.$emit('AfterCreate');
                })
              
            },

            status(id){
                this.form.get('api/amenitiesStatus/'+id)
                .then((data) => {
                    Toast.fire({
                        type: 'success',
                        title: 'Record Update'
                    })
                    Fire.$emit('AfterCreate');
                })
              
            },
            deleteAmenities(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.get('api/deleteAmen/'+id)
                    .then(({data}) => {
                        console.log(data);
                        Swal.fire(
                        'Deleted!',
                        'Successfully deleted.',
                        'success'
                        ),
                        Fire.$emit('AfterCreate');
                    });
                }
                })
            },
            filterBranch(){
             
                axios.get('/api/filterAmen/'+ this.form.branch_id)
                .then(({data}) => {
                    this.records = data
                });
            }

        },
        created() {
            this.loadAmenities();
            this.loadbranch();
            this.loadUser();
            Fire.$on('AfterCreate',() => {
                 this.loadAmenities();
             })
            console.log('Component mounted.')
        }
    }
</script>
