<template>
    <div class="container">
      <div class="row">
          <div class="col-md-6">
                <div class="card text-left">
                  <div class="card-body">
                    <h4 class="card-title">Quotation Page</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(quotation, index) in quotations.data" :key="quotation.id">
                                        <td scope="row">{{index + 1}}</td>
                                        <td>{{quotation.name}}</td>
                                        <td>{{quotation.number}}</td>
                                        <td>
                                            <span><button class="badge badge-success p-2" @click="showquotation(quotation.id)"><i class="fa fa-eye-slash" aria-hidden="true"></i> View</button></span>
                                            <span><button class="badge badge-danger p-2" @click="deletequotation(quotation.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></span>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="text-right w-100">
                            <pagination class="mt-2 mr-4" :data="quotations" @pagination-change-page="loadUser" :limit="2" size="small" align="right">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                            </pagination>
                </div>
                  </div>
                </div>
          </div>
           <div class="col-md-6" v-show="right">
              <div class="card border-primary">
                <div class="card-header">
                        <h3 class="card-title">Quotation Details</h3>
                          <div class="card-tools">
                              <span @click="close()" class="text-danger text-bold">X</span>
                          </div>
                </div>
                <div class="card-body">
                  <p class="card-text">
                      <table class="table table-striped">
                          <tbody>
                              <tr>
                                  <td scope="row" class="text-bold">Client Name:</td>
                                  <td>{{name}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">Email Address: </td>
                                  <td>{{email}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">Contact Number: </td>
                                  <td>{{ number }}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">date: </td>
                                  <td>{{date}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">time: </td>
                                  <td>{{time}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">pax: </td>
                                  <td>{{pax}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">type: </td>
                                  <td>{{type}}</td>
                              </tr>
                                <tr>
                                  <td scope="row" class="text-bold">Addtional remarks: </td>
                                  <td>{{remarks}}</td>
                              </tr>
                          </tbody>
                      </table>

                  </p>
                </div>

              </div>

          </div>
      </div>

    </div>
</template>

<script>
    export default {
        data(){
            return{
                quotations:{},
                name:'',
                email:'',
                number:'',
                remarks:'',
                date:'',
                time:'',
                pax:'',
                type:'',
                loading: false,
                right:false,
            }
        },
        methods:{
              loadUser(page = 1){
                axios.get("api/quotation?page=" + page)
                .then(({data}) => {
                    this.quotations = data
                });
            },
            showquotation(id){
                    axios.get('api/quotation/'+id)
                    .then(({data})=>{
                        console.log(data);
                        this.right = true;
                        this.name = data.name;
                        this.email = data.email;
                        this.number = data.number;
                        this.remarks = data.remarks;
                        this.date =data.date;
                        this.time = data.time;
                        this.pax = data.pax;
                        this.type = data.type;
                    });
            },
            close(){
                  this.right = false;
            },
            deletequotation(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                if (result.value) {
                    axios.delete('api/quotation/'+id)
                    .then(({data}) => {
                        console.log(data);
                        Swal.fire(
                        'Deleted!',
                        'Successfully deleted.',
                        'success'
                        ),
                        Fire.$emit('AfterCreate');
                    });
                }
                })
            }
        },
        created(){
            this.loadUser();
              Fire.$on('AfterCreate',() => {
                 this.loadUser();
             })
        },

    }
</script>
