<template>
    <div class="container">
            <div class="row">
                <div class="col-7">
                        <div class="card">
                            <div class="card-header">
                               <label for="">Terms and Conditions</label>
                                <div class="card-tools">
                                        <button type="button" class="btn btn-outline-success" @click="opencreate()" ><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
                                </div>
                            </div>
                            <div class="card-body">
                               <table class="table table-bordered text-center">
                                   <thead class="thead-dark">
                                       <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="this.length ==  0">
                                            <td colspan="4" class="jumbotron"><i>No Data Found</i></td>
                                        </tr>
                                        <tr v-else v-for="(data,index) in termsData.data" :key="data.id">
                                            <td>{{index+1}}</td>
                                            <td>{{ data.description }}</td>
                                            <td>
                                                <span><button type="button"  @click="updateterms(data.id)" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i>Update</button></span>
                                                <span><button type="button" @click="deleteTerms(data.id);" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></span>
                                            </td>
                                        </tr>
                                    </tbody>
                               </table>

                                 <pagination class="mt-2 mr-4" :data="termsData" @pagination-change-page="loadTerms" :limit="2" size="small" align="right">
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                </pagination>
                            </div>
                        </div>
                </div>
                <div class="col-5">
                        <div class="card border-secondary" v-show="termsDefault"> 
                            <div class="card-header">
                                <label for="">Terms and Conditions</label>       
                            </div>
                            <form @submit.prevent="editMode ? termsUpdate() : termscreate()">
                                <div class="card-body">
                                    <div class="form-group">
                                        <vue-editor v-model="form.description"></vue-editor>
                                    </div>
                                    <button type="submit"  class="btn btn-success btn-lg btn-block">{{ editMode === true ? 'Update' : "Submit" }}</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                termsDefault:false,
                termsData:{},
                 form: new Form({
                    id:'',
                    description: ''
                }),
                editMode:false,
            }
        },
        methods:{
            loadTerms(page = 1){
                axios.get("api/terms?page=" + page)
                .then(({data}) => {
                    this.termsData = data;
          
                });
            },
            opencreate(){
                    this.termsDefault = true
                    this.editMode = false
                    this.form.reset();
                    this.url = null
            },
            termscreate(){
                this.form.post('api/terms')
                .then(({data}) => { 
                    this.form.reset();
                    Toast.fire({
                            type: 'success',
                            title: 'Register Successfully'
                        })
                    this.url = null;
                    Fire.$emit('AfterCreate');
                    this.termsDefault = false
                })
            },
            updateterms(id){
                this.editMode = true;
                  this.termsDefault = true
                this.form.get('api/terms/'+id)
                .then((data) => {
                    this.form.id = data.data.id
                    this.form.description = data.data.description;
                })
            },
            termsUpdate(){
                 this.form.put('api/terms/'+ this.form.id)
                .then(({data}) => {          
                    Toast.fire({
                        type: 'success',
                        title: 'Record Update'
                    })
                    this.url = null;
                    Fire.$emit('AfterCreate');
                    this.termsDefault = false
                })
            },
              deleteTerms(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.value) {
                       this.form.delete('api/terms/'+ id)
                        .then(({data}) => {
                            Toast.fire({
                                type: 'success',
                                title: 'Record Deleted'
                            })
                            Fire.$emit('AfterCreate');
                        })
                    }
                    })
                    this.termsDefault = false               
            },
        },
        created(){
            this.loadTerms();
            Fire.$on('AfterCreate',() => {
                this.loadTerms();                              
             })
        },
    }
</script>
