<template>
   
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-5">
                <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Request
                    </div>
                    <div class="card-tools">
                        <button type="button" class="btn btn-success" @click="openRequest()"><i class="fa fa-plus" aria-hidden="true"></i> Add Request</button>
                    </div>
                </div>
                
                <div class="card-body">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(extra,index) in extraRequest" :key="extra.id">
                                
                                    <td scope="row">{{index + 1}}</td>
                                    <td>{{extra.name}}</td>
                                    <td>{{extra.price}}</td>
                                    <td>
                                        <span> <button type="button" class="btn btn-outline-primary p-1"   @click="editrequest(extra.id)" ><i class="fas fa-edit "></i> Edit</button> </span>
                                        <span> <button type="button" class="btn btn-outline-danger p-1"  @click="deleteRequest(extra.id)"><i class="fa fa-trash"></i> Delete</button> </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                </div>
                </div>
            </div>
            <div v-show="rightCard" class="col-4">
                <div class="card">
                    <div class="card-header text-bold">
                       <span v-if="editMode==false">Add Request</span>
                       <span v-else>Edit Request</span>
                    </div>

                    <form @submit.prevent="editMode ? updateRequest(): createRequest()">
                            
                        <div class="card-body ">
                            <div class="form-group">
                                <label for="">Request Name: </label>
                                <br>
                                  
                                    <input type="text" class="form-control" placeholder="Input Request Name" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name" >
                                      <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="">Price: </label>
                                <br>
                                    <input type="text" class="form-control" placeholder="Input Price" :class="{ 'is-invalid': form.errors.has('price') }"  @keypress='validate(event)' v-model="form.price" >
                                          <has-error :form="form" field="price"></has-error>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="w-100"  :class="(editMode==true) ? 'btn btn-outline-primary' :'btn btn-outline-success'">
                                    <span  v-if="editMode==false">Create Request</span>
                                    <span v-else>Edit Request</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
          
 
</template>

<script>
    export default {
        data(){
            return{
                rightCard:false,
                editMode:false,
                extraRequest:{},
                form: new Form({
                    id:'',
                    name:"",
                    price:"",
                })
            }
        },
        methods:{
            loadRequest(){
                axios.get('api/extra')
                .then(({data}) => {
                     this.extraRequest = data
                });
            },
            openRequest(){
                this.rightCard = true;
                  this.editMode = false;
                  this.form.clear();
                    this.form.reset();
            },
            createRequest(){
                 this.form.post('api/extra')
                .then(({data}) => {
                    Toast.fire({
                        type: 'success',
                        title: 'Successfully Added'
                    })
                    this.form.clear();
                    this.form.reset();
                    Fire.$emit('AfterCreate');
                })
            },
            editrequest(id){
                this.editMode = true;
                 this.rightCard = true;
                this.form.get('api/extra/'+id)
                .then(({data}) => {
                    this.form.id = data.id;
                    this.form.name = data.name;
                    this.form.price =data.price;
                })
               
            },
            updateRequest(){
              
                 this.form.put('api/extra/'+ this.form.id)
                .then(({data}) => {
                    console.log(data);
                    Toast.fire({
                        type: 'success',
                        title: 'Record Update'
                    })

                    Fire.$emit('AfterCreate');
                })
            },
            deleteRequest(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.value) {
                       this.form.delete('api/extra/'+ id)
                        .then(({data}) => {
                            Toast.fire({
                                type: 'success',
                                title: 'Record Deleted'
                            })
                            Fire.$emit('AfterCreate');
                        })
                    }
                    })
                
            },
            
            validate(evt) {
                var theEvent = evt || window.event;

                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]|\./;
                if( !regex.test(key) ) {
                    theEvent.returnValue = false;
                    if(theEvent.preventDefault) theEvent.preventDefault();
                }
            }

        },
        created(){
            this.loadRequest();
             Fire.$on('AfterCreate',() => {
                 this.loadRequest();
             })
        },

    }
</script>
