<template>
    <div class="container">
            <div class="row">
                <div class="col-7">
                        <div class="card">
                            <div class="card-header">
                               <label for="">Attraction Table</label>
                                <div class="card-tools">
                                        <button type="button" class="btn btn-outline-success" @click="openAttraction()" ><i class="fa fa-plus" aria-hidden="true"></i> Create</button>
                                </div>
                            </div>
                            <div class="card-body">
                               <table class="table table-bordered text-center">
                                   <thead class="thead-dark">
                                       <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                        <tr  v-if="this.length ==  0">
                                            <td colspan="4" class="jumbotron"><i>No Data Found</i></td>
                                        </tr>
                                        <tr v-for="(Item,index) in attraction.data" :key="Item.id" >
                                            <td>{{index + 1 }}</td>
                                            <td><img :src="'img/locale-attraction/'+Item.img" width="80"></td>
                                            <td>{{Item.name}}</td>
                                            <td>
                                                <span><button type="button" class="btn btn-outline-primary" @click="update(Item.id)"><i class="fas fa-edit"></i> Update</button></span>
                                                <span><button type="button" class="btn btn-outline-danger" @click="deleteAttraction(Item.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button></span>
                                            </td>
                                        </tr>
                                    </tbody>
                               </table>

                            
                            </div>
                        </div>
                </div>
                <div class="col-5">
                      <form @submit.prevent="editMode ? attractionUpdate() : attractioncreate()">
                        <div class="card border-secondary" v-show="openRight" > 
                            <div class="card-header">
                                <label for="">Details</label>
                                   
                            </div>
                          
                            <div class="card-body">
                                <div class="text-center">
                                    
                                   <span class="text-danger" v-show="imgError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please Select Image</span>
                                    <br>
                                    <img  v-if="url== null" src="img/package/packageImg.png"  alt="" srcset="" width="100"> 
                                    <img v-else :src="url" class="img-fluid" alt="" srcset="" width="100"  >
                                    <div class="ml-3 mt-3">
                                        <input  type="file" id="uploadedPic" @change="uploadPackagePic" >
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input type="text" class="form-control" v-model="form.name" aria-describedby="helpId" :class="{ 'is-invalid': form.errors.has('name') }">
                                      <has-error :form="form" field="name"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="">Price (Optional)</label>
                                    <input type="text" class="form-control" v-model="form.price">
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Description</label>
                                    <br>
                                    <textarea v-model="form.details" cols="53" rows="10"></textarea>  
                                </div>
                                <div class="form-group">
                                    <label for="">Link (Optional)</label>
                                    <input type="text" class="form-control" v-model="form.link" aria-describedby="helpId" placeholder="">
                                    
                                </div>

                                <button type="submit"  class=" btn-lg btn-block" :class="editMode === true ? 'btn btn-primary' :'btn btn-success'">{{ editMode === true ? 'Update' : "Create" }}</button>
                            </div>
                           
                        </div>
                      </form>
                </div>
            </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                editMode:false,
                openRight:false,
                imgError:false,
                url:null,
                length:0,
                attraction:{},
                form: new Form({
                    id:'',
                    img:'',
                    price:'',
                    name:'',
                    details:'',
                    link:'',
                }),
            }
        },
        methods:{
              loadAttraction(page = 1){
                axios.get("api/attraction?page=" + page)
                .then(({data}) => {
                  
                    this.attraction = data
                    this.length = data.data.length;
          
                });
            },
            openAttraction(){
                this.openRight = true
                 this.editMode = false
            },
            uploadPackagePic(e){
                let file = e.target.files[0];
                this.url = URL.createObjectURL(file);
                let reader = new FileReader();
                reader.onloadend = (file) => {
                      this.form.img = reader.result;
                }
                reader.readAsDataURL(file);
            },
            attractioncreate(){
                  this.editMode = false
                if(this.form.img == ''){
                    this.imgError = true
                }
                 this.editMode = false
                this.form.post('api/attraction')
                .then(({data}) => {
                    this.img = ''
                    this.url = null
                    this.form.reset();
                    Toast.fire({
                            type: 'success',
                            title: 'Register Successfully'
                        })
                    Fire.$emit('AfterCreate');
                    this.openRight = false
                });
            },
            update(id){
                this.editMode = true
                this.openRight = true
                 this.form.get('api/attraction/' + id)
                .then(({data}) => {
                     this.url =  'img/locale-attraction/'+ data.img
                    this.form.price = data.price;
                    this.form.id =data.id;
                    this.form.img = data.img;
                    this.form.name = data.name;
                    this.form.details = data.details;
                    this.form.link = data.link;
                    
                });
            },
            attractionUpdate(){
                this.form.put('api/attraction/'+ this.form.id)
                .then(({data}) => {    
                    this.form.reset();      
                    Toast.fire({
                        type: 'success',
                        title: 'Attraction Successfully Updated'
                    })
                    this.url = null;
                    Fire.$emit('AfterCreate');
                    this.openRight = false
                })
            },
            deleteAttraction(id){
                  Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.value) {
                       this.form.delete('api/attraction/'+ id)
                        .then(({data}) => {
                            Toast.fire({
                                type: 'success',
                                title: 'Record Deleted'
                            })
                            Fire.$emit('AfterCreate');
                        })
                    }
                    })
            }
            
        },
        created(){
            this.loadAttraction();
             Fire.$on('AfterCreate',() => {
                this.loadAttraction();
                              
             })
        },

    }
</script>
